*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Abel', sans-serif;
	scroll-behavior: smooth;
}

/*[class*="col-"] {
	border: 2px solid black;
}*/

.main{
	background-color: white;

}
#port-jumbo{
	border: 1px solid black;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 15px;
	max-width: 70%;
	/*max-height: 50%;*/
	padding-bottom: 5px;
	margin-top: 5%;
}

#jumbo-div{
	padding-bottom: 15%;
	height: 100vh; 
	background-image: url("../images/background2.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	min-width: 100%;
	border-radius: 0;
	/*background-color: #333;*/ /*black*
	border-radius: 0; /*to remove jumbotron's rounded corners*/
}

.btn2{
	background-color: black;
	color: white;
	border: none;
	min-width: 50%;
	padding: 5px;
	font-size: 20px;
	text-decoration: none;
	border-radius: 10px;
}

.btn2:hover{
	background-color: white;
	color: black;
}

.container a{
	text-decoration: none;
	color: black;
}

.jumbotron h1{
	/*margin-bottom: 10%;*/
	color: black; /*off white*/
	font-family: 'Passion One', cursive;
	/*font-size: 100%;*/
	/*text-shadow: 2px 2px white;*/
}

.jumbotron p{
	color: black;
	/*text-shadow: 1px 1px white;*/
	font-size: 25px;
	font-family: 'Abel', sans-serif;

}

.btn a{
	text-decoration: none;
	color: #f2f2f2;
}

.img-fluid{
	height: 200px;
	width: 400px;
}

.img-me{
	height: 200px; 
	width: 200px;
	border-radius: 50%
}

.card{
	border: 1px solid black;
	max-height: 500px;
}

.btn{
	background-color: black;
	color: white;
}

.btn:hover{
	background-color: #0e7a7d;
}


#portfolio {
	margin-top: 20px;

}

.h3-1{
	padding: 5px;
	background-color: black;
	color: white;
	max-width: 100vw; 
}

img[alt*=social]{
	width: 50px;
	height: 50px;
	/*border: 1px solid black;*/
	display: block;
	float: left;
	margin-right: 10px;
	margin-bottom: 0;
}

.imgs{
	float: left;
}

footer{
	background-color: black;
	color: white;
	min-height: 50px;
	margin-bottom: 0;

}
